<%- include('partials/header') %>
  <div class="px-5 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis logo">Hi. I'm Book Log.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        You can use me to:<br>
        - log a book you’ve read<br>
        - view all of your book logs<br>
        - search your logs
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-link logo" href="/register" role="button">Register</a>
        <a class="btn btn-link logo" href="/login" role="button">Login</a>
    </div>
  </div>
<%- include('partials/footer') %>