body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #444;
}

a {
  color: black;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

p, .entry, 
textarea {
  margin-bottom: 20px;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #888;
}

input, .entry,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

button {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}

#postsList {
  list-style-type: none;
}

#postItems {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.bookcover {
  float: left;
  padding-right: 15px;
}

.rate {
  float: left;
  height: 60px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#newPostBtn {
  margin: 20px 0;
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #27ae60;
}


.expander {
  height: 2em;
  overflow: hidden;
  cursor: pointer;
}

#notes {
  white-space: pre-wrap;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}